
.anime-container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-width: 1000px;
  margin: 20px auto;
  color: black;
  box-shadow:
    0 10px 20px rgba(255, 0, 0, 0.4),
    0 6px 6px rgba(255, 0, 0, 0.3),
    inset 0 0 10px rgba(255, 0, 0, 0.2);
}

.anime-info {
  text-align: left;
}

.anime-info p {
  margin: 5px 0;
}

.anime-info strong {
  font-weight: bold;
  color: #000000;
}

.highlight {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #000000;
  box-shadow:
    0 10px 20px rgba(255, 0, 0, 0.4),
    0 6px 6px rgba(255, 0, 0, 0.3),
    inset 0 0 10px rgba(255, 0, 0, 0.2);
}

